{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="column large">
  <div class="row column">
    <h2 class="text-center">Cadastro de fornecedor</h2>
    <p class="lead">Preencha os dados abaixo:</p>
    <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="deeplinked-tabs">
      <li class="tabs-title is-active"><a href="#juridica" aria-selected="true">Pessoa Jurídica</a></li>
      <li class="tabs-title"><a href="#fisica">Pessoa Física</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="deeplinked-tabs">
      <div class="tabs-panel is-active" id="juridica">
        <form>
          <div class="row">
            <div class="small-12 medium-3 columns">
              <label>CNPJ:
                <input type="text">
              </label>
            </div>
            <div class="small-12 medium-3 columns">
              <label>Inscrição Estadual:
                <input type="text">
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label>Razão Social:
                <input type="text">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <label>Nome Fantasia
                <input type="text">
              </label>
            </div>
            <div class="small-12 medium-3 columns">
              <label>Email
                <input type="email">
              </label>
            </div>
            <div class="small-12 medium-3 columns">
              <label>Telefone
                <input type="tel">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-9 columns">
              <label>Endereco
                <input type="text">
              </label>
            </div>
            <div class="small-12 medium-3 columns">
              <label>CEP
                <input type="text">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-2 columns">
              <label>Estado
                <select>
                  <option value="PB">Paraíba</option>
                  <option value="PE">Pernambuco</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="CE">Ceará</option>
                </select>
              </label>
            </div>
            <div class="small-12 medium-8 columns end">
              <label>Cidade
                <input type="text">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns end">
              <fieldset class="fieldset">
                <legend>Micro-Empresa</legend>
                <input type="radio" name="me" value="yes" id="me-yes" required><label for="me-yes">Sim</label>
                <input type="radio" name="me" value="no" id="me-no" checked><label for="me-no">Não</label>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <p><a class="button small expanded" href="#">Cadastrar</a></p>
            </div>
            <div class="large-6 columns">
              <p><a class="button secondary small expanded" href="#">Cancelar</a></p>
            </div>
          </div>
        </form>
      </div>
      <div class="tabs-panel" id="fisica">
        <p>Pessoa Física.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

