body{
	background-color: #ccc;
}
.footer, .top-bar, .top-bar ul {
	background-color: #009E87;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px; /* choose any height */
}

.background{
	background-color: #ccc;
	opacity: 0.33;
	position: absolute;
    /*left: 50%;*/
    top: 25%;
}

.pref-link {
	color: #fff;
}
.pref-link:hover{
	color: #006b5c;
}